/* Колір основного тексту #757575*/
/* Вторичний колір тексту #000000 */
/* Основний колір фону #F5F5F5 */
/* Вторичний колір фону #F5F4FA */
/* Колір при ховері та фокусу #2196F3 */

:root {
    --main-color: #757575;
    --secondary-color: #000000;
    --white-text-color: #FFFFFF;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --title-color: #212121;
    --black-bg-color: #2F303A;
    --main-border-color: #EEEEEE;
    --secondary-border-color: #AFB1B8;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    color: var(--main-color);
    background-color: var(--main-background-color);

    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

.logo {
    color: var(--secondary-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.leftpart-logo {
    color: var(--accent-color);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.auth-nav .item {
    display: inline-flex;
    align-items: center;
}

.auth-nav .mail-name::before {
    content: '';
    width: 16px;
    height: 12px;
    background-color: teal;
    background-image: url(../images/letter-icon.svg);
    background-size: contain;
}

/* Main nav */

.main-nav {
    display: flex;
    align-items: center;
}

/* site nav */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-flex;
    color: var(--title-color);
    fill: var(--main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
}

.link .letter-icon {
    fill: currentColor;

    margin-right: 10px;
    width: 16px;
    height: 12px;
}

.phone-icon {
    fill: currentColor;

    margin-right: 10px;
    width: 10px;
    height: 16px;
}

/* Auth nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
}

.footer-nav .link.adress {
    color: var(--white-text-color);
}


.footer-nav .link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    text-decoration: none;
    font-style: normal;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus,
.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    content: "";
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* hero-title */

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 0;
    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2)
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-modal {
    display: flex;
    width: 30px;
    height: 30px;

    align-items: center;
    margin: 8px 8px auto auto;

    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    
}

.close-modal:hover,
.close-modal:focus {
    fill: var(--accent-color);
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;

    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero {
    position: relative;
    background-color: var(--black-bg-color);
    text-align: center;
    
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    min-height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-title {
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.user-date {
    display: block;
    align-items: center;
    justify-content: center;

    padding-top: 2px;
    padding-left: 40px;
    padding-right: 40px;
}

.date-forms label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    color: var(--main-color);
    letter-spacing: 0.01em;
    
}

.date-forms input {
    width: 448px;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.date-forms input:focus-visible {
    border: 1px solid var(--accent-color);
    outline: none;
}

.date-forms input:focus-visible + .form-icon {
    fill: var(--accent-color);
}

.date-forms textarea {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.date-forms textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.date-forms textarea:focus-visible {
    border: 1px solid var(--accent-color);
    outline: none;
}

.date-forms li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    text-align: left;
    list-style: none;
}

.date-forms .commentary {
    margin-bottom: 20px;
}

.user-date-slogan {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-color);
}

.user-date button {
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--main-background-color);
}

.form-conditions {
    position: relative;
    margin-bottom: 30px;
}

.conditions {
    position: relative;
    margin-left: 24px;

    font-size: 14px;
    line-height: 1.71;
}

.conditions-link {
    color: var(--accent-color);
}

.true-checkbox {
    position: absolute;
    top: 1px;
    left: -23px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);  
    border-radius: 2px; 
}

.icon-true-checkbox {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 16px;
    height: 15px; 
    border-radius: 2px; 

    opacity: 0;
}

.checkbox-conditions:checked ~ .true-checkbox {
    border: 2px solid var(--accent-color);  
}

.checkbox-conditions:checked ~ .true-checkbox > svg {
    opacity: 1;
}

.checkbox-conditions {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.date-forms li {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 29px;
    left: 12px;

    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* our services */

.container-icons {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    
    height: 120px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
}



.container-icons:last-child {
    margin-right: 0;
}

.section.photo-work .section-title {
    padding-top: 0;
}

.section .services {
    display: flex;
}

.services .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.photo-work {
    padding-bottom: 0;
}

.works .text {
    padding-bottom: 0;
}

.services .text {
    color: var(--main-color);
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.services .text.position {
    font-size: 16px;
    line-height: 1.19;
}

.services .item {
    width: 370px;
    margin-right: 30px;
}

.services .item:last-child {
    margin-right: 0;
}

.services.photo .item {
    position: relative;
    width: 370px;
    margin-right: 30px;
    z-index: -1;
}

.services.photo .item:last-child {
    margin-right: 0;
}

.services-text {
    position: absolute;
    bottom:  0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--main-background-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
}
/* Projects */

.projects .project {
    font-size: 16px;
    line-height: 1.88;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects .item:nth-child(3n) {
    margin-right: 0;
}

.projects .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.projects a {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 370px;
}

.projects a:hover,
.projects a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
    padding: 20px 24px;
    border: 1px solid var(--main-border-color);
    border-top: none;
}

.projects .description {
    position: relative;

    overflow: hidden;
    color: var(--main-color)
} 

.projects .text-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    color: var(--main-background-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.6;
    pointer-events: none;
    transform: translatey(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a:hover .text-description,
.projects a:focus .text-description {
    transform: translate(0);
}

.projects .title {
    margin-bottom: 4px;
    color: var(--title-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .text {
    color: var(--main-color);

    font-size: 16px;
    line-height: 1.88;
}

.team .title {
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .text {
    margin-bottom: 16px;

    text-align: center;
    font-size: 16px;
    line-height: 1.19;
}

/* our team */

.section-title.team {
    padding-top: 94px;
}

.our-team {
    margin-bottom: 0;
}

.team {
    display: flex;
    flex-wrap: wrap;
}

.team .item {
    background-color: var(--main-background-color);
    margin-right: 0;
    width: 270px;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item + .item {
    margin-left: 30px;
}

.section.our-team {
    background-color: var(--secondary-background-color);
}

.socials-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.item-list:not(:last-child) {
    margin-right: 10px;
}


.link-icon {
    border-radius: 50%;
    height: 44px;
    width: 44px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background-color);
    fill: var(--secondary-border-color);
}

.link-icon:hover,
.link-icon:focus {
    background-color: var(--accent-color);
    fill: var(--main-background-color);
}
/* OUR CLIENTS */

.list-clients {
    display: flex;
    flex-wrap: wrap;
}

.list-clients .item {
    margin-right: 30px;
}

.list-clients .item:last-child {
    margin-right: 0;
}

.list-clients .link {
    height: 92px;
    width: 170px;
    display: flex;
    align-items: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid var(--secondary-border-color);
    fill: var(--secondary-border-color);
    border-radius: 4px;
}

.list-clients .link:hover,
.list-clients .link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

/* Buttons */

.button {
    color: var(--title-color);
    background-color: var(--secondary-background-color);

    font-family: inherit;
    cursor: pointer;

}

.button.primary {
    border: none;
    border-radius: 4px;
    color: var(--white-text-color);
    background-color: var(--accent-color); 

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em; 
}

.button.primary:hover,
.button.primary:focus {
    background-color: #188CE8;
}


.button.secondary {
    color: var(--title-color);
    background-color:var(--secondary-background-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    border-radius: 4px;
    border: none;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero .button.primary {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 30px;
}

.button-list {
    font-size: 0;
    display: flex;
    justify-content: center;  
    margin-bottom: 50px;  
}

.button-list .button.secondary {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 6px 22px;
}

.button-list .item + .item {
    margin-left: 8px;
}

/* footer */

.section-footer {
    display: flex;
    align-items: baseline;
}

.adress {
    color: var(--white-text-color);
}

.footer {
    background-color: var(--black-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--white-text-color);
}

.footer-nav .item {
    margin-bottom: 9px;
    width: 231px;
    height: 21px;
}

.footer-nav .item:last-child {
    margin-bottom: 0;
}

.footer-socials {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-icon {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--main-background-color);
}

.list-socials {
    display: flex;


}

.list-socials .item {
    display: block;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: 10px;

    cursor: pointer;
}

.list-socials .item:last-child {
    margin-right: 0;
}

.footer-slogan {
    color: var(--main-background-color);
    size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.container-socials {
    margin-left: auto;
}

.list-socials .item:hover,
.list-socials .item:focus {
    background-color: var(--accent-color);
}

.user-email {
    width: 358px;
    padding-left: 15px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: var(--black-bg-color);
}

.user-email:focus-visible {
    color: var(--main-background-color);
}

.submit-user-email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    cursor: pointer;
}

.submit-user-email:hover,
.submit-user-email:focus {
    background-color: #188CE8;
}

.submit-user-email p {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-background-color);
    
}

.container-signup {
    display: flex;
}
/* containers */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

/* sections */

.section.no-padding {
    padding-top: 0;
}

.section .section-title {
    margin-bottom: 50px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}