.hero__backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2)
}

.modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: calc(100% - 30px);
    min-height: 609px;

    background-color: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__close {
        display: flex;
        width: 30px;
        height: 30px;

        align-items: center;
        margin: 8px 8px auto auto;

        background-color: $main-background-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
    }

    &__close:hover, &__close:focus {
        fill: $accent-color;
    }

    &__icon-close {

    }

    &__user-date {
        display: block;
        align-items: center;
        justify-content: center;

        padding-top: 2px;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__user-date-slogan {
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: $title-color;
    }
}

.date-forms {

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        text-align: left;
        list-style: none;
    }

    &__name {
        margin-bottom: 4px;

        font-size: 12px;
        line-height: 1.17;
        color: $main-color;
        letter-spacing: 0.01em;
    }

    &__text {
        height: 40px;
        padding-left: 42px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__text:focus-visible {
        border: 1px solid $accent-color;
        outline: none;
    }

    &__text:focus-visible + &__form-icon {
        fill: $accent-color;
    }

    &__form-icon {
        position: absolute;
        top: 29px;
        left: 12px;

        display: inline-block;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item-com {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        text-align: left;
        list-style: none;
    }

    &__commentary {
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__commentary::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    &__commentary:focus-visible {
        border: 1px solid $accent-color;
        outline: none;
    }
}

.form-conditions {
    position: relative;
    margin-bottom: 30px;

    text-align: center;

    &__label {
        position: relative;
        margin-left: 24px;

        font-size: 14px;
        line-height: 1.71;
    }

    &__checkbox {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__checkbox:checked + &__true-checkbox {
        border: 2px solid $accent-color;
    }

    &__true-checkbox {
        position: absolute;
        top: 1px;
        left: -23px;
        width: 16px;
        height: 15px;
        border: 2px solid $title-color;  
        border-radius: 2px; 
    }

    &__icon-true-checkbox {
        position: absolute;
        top: -2px;
        left: -2px;
        width: 16px;
        height: 15px; 
        border-radius: 2px; 

        opacity: 0;
    }

    &__checkbox:checked + &__true-checkbox > &__icon-true-checkbox {
        opacity: 1;
    }

    &__link {
        color: $accent-color;
    }
}

