h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    
}