.our-works {
    display: none;

    @include desktop {
        display: block;
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        width: 370px;
        margin-right: 30px;
        z-index: -1;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__text {
        position: absolute;
        bottom:  0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: $main-background-color;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        background-color: rgba(47, 48, 58, 0.8);
    }
}