$main-color: #757575;
$secondary-color: #000000;
$white-text-color: #FFFFFF;
$main-background-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$accent-color: #2196F3;
$title-color: #212121;
$black-bg-color: #2F303A;
$main-border-color: #EEEEEE;
$secondary-border-color: #AFB1B8;

